/* Intro CTA */
.contact {
	text-align: center;
	background-color: #7cc576;
	margin-top: 80px;
	padding: 69px 0;
	h2{
		color: #ffffff;
		font-size: 40px;
		line-height: 40px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: -2px;
		margin-bottom:31px;
	}
}